/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #dfd2d299;
    color: #00000099;
    padding: 20px;
  }
  
  /* Navigation Bar */
  nav {
  background-color: #9c764c;
  padding: 10px 20px;
  text-align: left;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  }
  
  nav a {
    color: #00000099;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .header {
    text-align: center;
    background-color: #ae701299;
    color: white;
    padding:100px 20px;
    border-radius: 10px;
    margin: 80px 0 30px;
  }
  .header h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  .header p {
    font-size: 1.2em;
  }
  .section {
    background-color: #ae701299;
    border: 1px solid #c78e3799;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .section h2 {
    color: #00000099;
    margin-bottom: 15px;
  }
  ol {
    margin-left: 20px;
    padding-left: 20px;
  }
  
  ul {
    list-style-type: circle;
    margin-left: 20px;
    padding-left: 20px;
  }
  
  /* Image */
  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* YouTube iframe */
  iframe {
    max-width: 100%;
    border: none;
    border-radius: 10px;
  }
  
  /* Back to Top */
  .section a {
    color: #00000099;
    text-decoration: none;
  }
  
  .section a:hover {
    text-decoration: underline;
  }
  
  /* Tableau graph adjustments */
  .tableauPlaceholder {
    margin:20px 0;
  }
  .section1{
    background-color: #69420799;
    border: 1px solid #c78e3799;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }